<ion-content [fullscreen]="true">

  <!-- HEADER CARD -->
  <div class="home-header-card">
    <div class="home-header-row">
      <ion-icon name="folder-outline" class="header-icon"></ion-icon>

      <div class="header-text">
       <h1 class="header-title">Mis Categorías</h1>
      </div>

      <ion-icon name="ellipsis-horizontal" class="header-icon"></ion-icon>
    </div>

    <ion-searchbar
      class="header-search"
      placeholder="Buscar por ID o nombre"
      (ionInput)="handleSearch($event)">
    </ion-searchbar>
  </div>

  <!-- LISTA DE CATEGORÍAS -->
  <ion-list>
    <ion-item *ngFor="let category of categories" class="task-card">
      <ion-label>
        <h2 class="task-title">{{ category.name }}</h2>
        <p class="task-date">
          {{ category.createdAt | date:'MMM d, y, h:mm a' }}
        </p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" [routerLink]="['/edit-category', category.id]">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteCategory(category.id)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <div *ngIf="categories.length === 0" class="ion-text-center ion-padding">
    <p>No tienes categorías, crea una para empezar</p>
  </div>

</ion-content>




<ion-footer>
  <ion-toolbar class="bottom-bar">
    <div class="bottom-nav">

      <button class="bottom-btn" routerLink="/home">
        <ion-icon name="list-outline"></ion-icon>
        <span>Tareas</span>
      </button>

      <button class="center-btn" routerLink="/create-category">
        <ion-icon name="add"></ion-icon>
      </button>

      <button class="bottom-btn" routerLink="/categories">
        <ion-icon name="folder-open-outline"></ion-icon>
        <span>Categorías</span>
      </button>

    </div>
  </ion-toolbar>
</ion-footer>
