.button-container {
  padding: 24px 40px;
}

ion-button {
  --background: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary-shade);
  --color: white;
  --border-radius: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 48px;
}
ion-item {
  margin-top: 16px;
  border-radius: 12px;
  --background: #fafafa;
}
ion-list {
  padding: 8px 16px 80px; // un poco de aire alrededor
}

.task-card {
  --background: #ffffff;
  margin-bottom: 12px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  --padding-start: 12px;
  --inner-padding-end: 8px;
  align-items: center;
}

.task-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.task-date {
  font-size: 12px;
  color: var(--ion-color-medium);
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--ion-color-danger);
  margin: 0 8px;
}
