#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.bottom-bar {
  --background: #fff;
  height: 70px;
  align-items: center;
  border-top: 1px solid #e0e0e0;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 8px 40px;
}

.bottom-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  color: #444;
  font-size: 12px;
}

.bottom-btn ion-icon {
  font-size: 22px;
}

.center-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--ion-color-primary);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
}
.task-card {
  margin: 10px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  padding: 10px;

  --background: transparent;
}

.task-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

.task-date {
  font-size: 13px;
  color: #777;
}
.home-header-card {
  background: var(--ion-color-primary);
  padding: 32px 16px ;
  color: #fff;
}

.home-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header-icon {
  font-size: 26px;
  color: #fff;
}

.header-text {
  flex: 1;
  margin: 0 12px;
}



.header-title {
  font-size: 24px;
  font-weight: 700;
  margin: 2px 0 0;
}

.header-search {
  --background: #ffffff;
  --color: #444;
  --placeholder-color: #999;
  --border-radius: 999px;
}


