.button-container {
  padding: 24px 40px;
}

ion-button {
  --background: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary-shade);
  --color: white;
  --border-radius: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 48px;
}

ion-item {
  margin-top: 16px;
  border-radius: 12px;
  --background: #fafafa;
}

ion-list {
  padding: 8px 16px 80px;
}

.task-card {
  --background: #ffffff;
  margin-bottom: 12px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  --padding-start: 12px;
  --inner-padding-end: 8px;
  align-items: center;
}

.task-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.task-date {
  font-size: 12px;
  color: var(--ion-color-medium);
}

.create-header-card {
  background: var(--ion-color-primary);
  padding: 24px 16px;
  color: #fff;
}

.back-icon-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-icon-btn ion-icon {
  font-size: 40px;
  color: #fff;
}

.create-header-text {
  display: flex;
  flex-direction: column;
}

.create-header-title {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.create-form {
  padding: 40px 16px;
}

.field-label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
  font-size: 16px;
}

.field-item {
  --background: #ffffff;
  --inner-padding-top: 10px;
  --inner-padding-bottom: 10px;
  --inner-padding-start: 12px;
  --inner-padding-end: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 18px;
}

.textarea-item ion-textarea {
  min-height: 100px;
}

.button-wrapper {
  margin-top: 8px;
}


.category-section {
  padding: 24px 0px ; 
  margin-top: 0; 
}

.category-section .field-label {
  margin-bottom: 12px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 24px;
}

.category-chip {
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: #f2e9ff;
  color: #4a107a;
  font-weight: 500;
  transition: 0.2s;
}

.category-chip.active {
  background: var(--ion-color-primary);
  color: white;
}
